mixin headerNav(url,text)
  li.nav__item
    a(href=url).nav__link= text

header.header
  .container
    .header__inner
      .header__logo
        img(src='img/svg/logo.svg')
      .header__nav
        nav.nav
          ul.nav__list
            +headerNav('','Услуги')
            +headerNav('','Клиенты')
            +headerNav('','Карьера')
            +headerNav('','Контакты')
        .lang
          a(href='').lang__link= 'ru'
          a(href='').lang__link= 'en'
