
.is-loading {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: url("../img/svg/loader.svg") no-repeat center center / cover;
    width: 48px;
    height: 48px;
    z-index: 10;
  }
}

.slider-team {
  overflow: hidden;
  margin-left: -1.42857rem;
  margin-right: -1.42857rem;

  //&.is-loading {
  //  .slider-team__list {
  //    opacity: 0;
  //    transition: opacity 0s;
  //  }
  //}
  min-height: 353px;
  @include tablet {
    min-height: 423px;
  }

  &__list {
    list-style: none;
    margin: 0 !important;
    padding: 0;
    height: 100%;
    display: flex;
    opacity: 0;
    visibility: hidden;
    justify-content: space-between;


    &.mCustomScrollbar,
    &.mCustomScrollbar.mCS_touch_action {
      touch-action: manipulation;
    }

    .mCSB_container {
      padding-right: 100px;
      @include tablet {
        padding-right: 180px;
      }

      display: flex;
    }
  }



  &__item {
    //display: block;
    //float: left;
    max-width: 220px;
    max-height: 330px;
    text-align: center;

    @include tablet {
      max-width: 245px;
      max-height: 400px;
    }

    &:not(:first-child) {
      margin-left: -90px;
    }

    &:hover {
      .slider-team__name {
        color: $text;
        span {
          display: block;
          color: $grey;
        }
      }
      .slider-team__photo {
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
        -o-filter: grayscale(0%);
        filter: grayscale(0%);
        filter: grayscale(0); /* Firefox 4+ */
        filter: gray; /* IE 6-9 */
      }
    }
  }

  &__name {
    font-size: $size-5;
    line-height: (24 / 17);
    min-height: 62px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: $grey;
    margin-bottom: -20px;

    @include tablet {
      min-height: 80px;
    }

    span {
      display: none;
      margin-top: 8px;
    }
  }

  &__photo {
    position: relative;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: grayscale(1); /* Firefox 4+ */
    filter: gray; /* IE 6-9 */
    z-index: -1;

    &::selection {
      background-color: transparent;
    }
  }
}

.mCSB_scrollTools .mCSB_draggerContainer {
  display: flex;
  justify-content: center;
}
