mixin headerNav(url,text)
  li.nav__item
    a(href=url).nav__link= text


.nav
  .container
    .nav__brand
      a(href="/")
        img(src='img/svg/logo.svg')
    nav.nav__list
        a(href='services.html').nav__item Услуги
        a(href='clients.html').nav__item Клиенты
        a(href='career.html').nav__item Карьера
        a(href='contacts.html').nav__item Контакты
        .lang
            a(href='#').lang__item.is-active= 'ru'
            a(href='#').lang__item= 'en'
    button.nav__burger
        span
        span
        span