mixin headerNav(url,text)
  li.nav__item
    a(href=url).nav__link= text


.nav
  .container
    .nav__brand
      a.nav__item
        img(src='img/svg/logo.svg')
    nav.nav__list
      .nav__end
        a(href='').nav__item Услуги
        a(href='').nav__item Клиенты
        a(href='').nav__item Карьера
        a(href='').nav__item Контакты
        .lang
          a(href='').lang__item= 'ru'
          a(href='').lang__item= 'en'
