extends ../template/_main

block title
    | Career

block css
    //link(href="css/libs/mCustomScrollbar.css")

block content
    section.section.pb-0
        .container.is-size-narrow
            .hero.has-text-centered
                +hero('icon-consulting.svg', 'Карьера')
    section.section.is-shadow
        .intro
            .container.is-fullhd
                .slider-team
                    div.slider-team__list
                        div.slider-team__item
                            span.slider-team__name
                                | Кирилл
                                br
                                | Лазарчук
                                span Аналитик
                            img(src="img/team/01-1.png").slider-team__photo
                        div.slider-team__item
                            span.slider-team__name
                                | Юрий
                                br
                                | Усанов
                                span Аналитик
                            img(src="img/team/10-1.png").slider-team__photo
                        div.slider-team__item
                            span.slider-team__name
                                | Анастасия
                                br
                                | Постовалова
                                span Аналитик
                            img(src="img/team/09-1.png").slider-team__photo
                        div.slider-team__item
                            span.slider-team__name
                                | Екатерина
                                br
                                | Лебедева
                                span Менеджер Проектов
                            img(src="img/team/04-1.png").slider-team__photo
                        div.slider-team__item
                            span.slider-team__name
                                | Александр
                                br
                                | Ветров
                                span Менеджер Проектов
                            img(src="img/team/02-1.png").slider-team__photo
                        div.slider-team__item
                            span.slider-team__name
                                | Юрий
                                br
                                | Харламов
                                span Партнер
                            img(src="img/team/08-1.png").slider-team__photo
                        div.slider-team__item
                            span.slider-team__name
                                | Константин
                                br
                                | Савчук
                                span Партнер
                            img(src="img/team/12-1.png").slider-team__photo
                        div.slider-team__item
                            span.slider-team__name
                                | Георгий
                                br
                                | Никольский
                                span Партнер
                                .slider-team__photo
                            img(src="img/team/03-1.png").slider-team__photo
                        div.slider-team__item
                            span.slider-team__name
                                | Алексей
                                br
                                | Овсянников
                                span Партнер
                            img(src="img/team/13-1.png").slider-team__photo
                        div.slider-team__item
                            span.slider-team__name
                                | Михаил
                                br
                                | Иванов
                                span Менеджер Проектов
                            img(src="img/team/05-1.png").slider-team__photo
                        div.slider-team__item
                            span.slider-team__name
                                | Ольга
                                br
                                | Ульянова
                                span Менеджер Проектов
                            img(src="img/team/11-1.png").slider-team__photo
                        div.slider-team__item
                            span.slider-team__name
                                | Дарья
                                br
                                | Алексеева
                                span Старший консультант
                            img(src="img/team/06-1.png").slider-team__photo
                        div.slider-team__item
                            span.slider-team__name
                                | Дмитрий
                                br
                                | Ильин
                                span Менеджер Проектов
                            img(src="img/team/07-1.png").slider-team__photo

    section.section
        .container.is-size-narrow
            p Наши люди — наш самый ценный актив.
            p У нас работают талантливые и увлеченные своим делом консультанты, инвестиционные менеджеры, отраслевые эксперты и разработчики. Они обладают всеми необходимыми знаниями и опытом для решения самых интересных и сложных задач на стыке бизнеса и технологий, реализуя проекты в интересах крупнейших компаний сектора.


    section.section
        .container
            h2.is-size-2.has-text-centered Открытые вакансии
            .cards.is-border-top.is-gapless
                .cards__item
                    .menu
                        a(href="javascript:;" data-fancybox data-src="#modal-1").menu__link.is-size-3 Продуктовая и инновационная стратегия
                .cards__item
                    .menu
                        a(href="javascript:;" data-fancybox data-src="#modal-2").menu__link.is-size-3 Технологическая стратегия GTM стратегия
                .cards__item
                    .menu
                        a(href="javascript:;" data-fancybox data-src="").menu__link.is-size-3 Стратегия развития каналов обслуживания
                .cards__item
                    .menu
                        a(href="javascript:;" data-fancybox data-src="").menu__link.is-size-3 M&A стратегия
                .cards__item
                    .menu
                        a(href="javascript:;" data-fancybox data-src="").menu__link.is-size-3 Корпоративная стратегия
                .cards__item
                    .menu
                        a(href="javascript:;" data-fancybox data-src="").menu__link.is-size-3 Стратегия развития каналов продаж
                .cards__item
                    .menu
                        a(href="javascript:;" data-fancybox data-src="").menu__link.is-size-3 Цифровая стратегия

block footer
    footer.footer
        .container
            .columns.is-centered.is-gapless
                .column.is-6
                    .contacts.has-text-centered
                        //.contacts__title
                            //h2.is-size-2.has-text-white Контакты
                        ul.contacts__list
                            li
                                | 127006, Россия, Москва,
                                br
                                |  Долгоруковская ул., д. 40, стр. 5
                            li
                                a(href="tel:+79451234567") +7 945 123-45-67
                            li
                                a(href="mailto:info@cpartners.ru") info@cpartners.ru
                        p.has-text-centered
                            span.is-size-7.has-text-grey-dark © Constanta, 2009–2018


    #modal-1.modal-body(style="display: none;")
        h2.is-size-2.has-text-weight-light  Консультант в группу управленческого консалтинга
        p
            span.is-size-3.has-text-grey.has-text-weight-semibold Обязанности
            br
            | Руководство командой разработчиков. Проект-менеджмент. Самостоятельная работа над проектами

        p
            span.is-size-3.has-text-grey.has-text-weight-semibold Требования
            br
            | Опыт самостоятельной разработки Full-stack от 3 лет. Умение ставить задачи и контролировать их выполнение.
            br
            | Ключевые навыки: PHP, HTML, JavaScript, CSS, jQuery

        p
            span.is-size-3.has-text-grey.has-text-weight-semibold Условия
            br
            | Конкурентная заработная плата сразу, быстрый выход на высокий уровень зарплаты. Офис в центре города. Лояльное руководство, отличные перспективы роста.

    #modal-2.modal-body(style="display: none;")
        h2.is-size-2.has-text-weight-light  Консультант в группу управленческого консалтинга
        p
            span.is-size-3.has-text-grey.has-text-weight-semibold Обязанности
            br
            | Руководство командой разработчиков. Проект-менеджмент. Самостоятельная работа над проектами

        p
            span.is-size-3.has-text-grey.has-text-weight-semibold Условия
            br
            | Конкурентная заработная плата сразу, быстрый выход на высокий уровень зарплаты. Офис в центре города. Лояльное руководство, отличные перспективы роста.



block libsJS
    script(src="js/libs/jquery.mCustomScrollbar.concat.min.js")
    script(src="js/template.js")
    script.
        $(document).ready(function () {
            $(window).on("load",function(){

                $(".slider-team__list").mCustomScrollbar({
                    axis: "x",
                    scrollEasing:"linear",
                    advanced: {
                        autoExpandHorizontalScroll: true
                    },
                    contentTouchScroll: true,
                    documentTouchScroll: true,
                    mouseWheel: {
                        enable: false
                    }
                });

                setTimeout(function () {
                    $(".slider-team__list").mCustomScrollbar('scrollTo','50%');
                }, 100)
            });
        });