extends ../template/_main

block title
    | Career

block content
    section.section
        .container.is-size-narrow
            .hero.has-text-centered
                +hero('icon-consulting.svg', 'Карьера')
    section.section
        .intro
            .container
                figure.image
                    img(src="img/career-photo.jpg")
            .container.is-size-narrow
                p Наши люди — наш самый ценный актив.
                p У нас работают талантливые и увлеченные своим делом консультанты, инвестиционные менеджеры, отраслевые эксперты и разработчики. Они обладают всеми необходимыми знаниями и опытом для решения самых интересных и сложных задач на стыке бизнеса и технологий, реализуя проекты в интересах крупнейших компаний сектора.

    section.section
        .container.is-fullhd
            .slider-people
                ul#scrl.slider-people__list
                    li
                        span
                            | Кирилл Лазарчук
                            span Аналитик
                        img(src="img/team/01-1.png")
                    li
                        span
                            | Юрий Усанов
                            span Аналитик
                        img(src="img/team/10-1.png")
                    li
                        span
                            | Анастасия Постовалова
                            span Аналитик
                        img(src="img/team/09-1.png")
                    li
                        span
                            | Екатерина Лебедева
                            span Менеджер Проектов
                        img(src="img/team/04-1.png")
                    li
                        span
                            | Александр Ветров
                            span Менеджер Проектов
                        img(src="img/team/02-1.png")
                    li
                        span
                            | Юрий Харламов
                            span Партнер
                        img(src="img/team/08-1.png")
                    li
                        span
                            | Константин Савчук
                            span Партнер
                        img(src="img/team/12-1.png")
                    li
                        span
                            | Георгий Никольский
                            span Партнер

                        img(src="img/team/03-1.png")
                    li
                        span
                            | Алексей Овсянников
                            span Партнер
                        img(src="img/team/13-1.png")
                    li
                        span
                            | Михаил Иванов
                            span Менеджер Проектов
                        img(src="img/team/05-1.png")
                    li
                        span
                            | Ольга Ульянова
                            span Менеджер Проектов
                        img(src="img/team/11-1.png")
                    li
                        span
                            | Дарья Алексеева
                            span Старший консультант
                        img(src="img/team/06-1.png")
                    li
                        span
                            | Дмитрий Ильин
                            span Менеджер Проектов
                        img(src="img/team/07-1.png")
            .scrollbar
                .handle
                    .mousearea

    section.section
        .container
            h2.is-size-2.has-text-centered Открытые вакансии
            .cards.is-border-top.is-gapless
                .cards__item
                    .menu
                        a(href="/").menu__link.is-size-3 Продуктовая и инновационная стратегия
                .cards__item
                    .menu
                        a(href="/").menu__link.is-size-3 Технологическая стратегия GTM стратегия
                .cards__item
                    .menu
                        a(href="/").menu__link.is-size-3 Стратегия развития каналов обслуживания
                .cards__item
                    .menu
                        a(href="/").menu__link.is-size-3 M&A стратегия
                .cards__item
                    .menu
                        a(href="/").menu__link.is-size-3 Корпоративная стратегия
                .cards__item
                    .menu
                        a(href="/").menu__link.is-size-3 Стратегия развития каналов продаж
                .cards__item
                    .menu
                        a(href="/").menu__link.is-size-3 Цифровая стратегия

block footer
    footer.footer
        .container
            .columns.is-centered.is-gapless
                .column.is-6
                    .contacts.has-text-centered
                        //.contacts__title
                            //h2.is-size-2.has-text-white Контакты
                        ul.contacts__list
                            li
                                | 127006, Россия, Москва,
                                br
                                |  Долгоруковская ул., д. 40, стр. 5
                            li
                                a(href="tel:+79451234567") +7 945 123-45-67
                            li
                                a(href="mailto:info@cpartners.ru") info@cpartners.ru
                        p.has-text-centered
                            span.is-size-7.has-text-grey-dark © Constanta, 2009–2018


block libsJS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js")
    script(src="js/libs/simplebar.js")
    script(src="js/template.js")
    //script(src="js/libs/sly.min.js")
    script.


    //script.
    //    $(document).ready(function () {
    //
    //        var $frame = $('.slider-people');
    //        var $wrap = $frame.parent();
    //
    //        // Call Sly on frame
    //        $frame.sly({
    //            horizontal: 1,
    //            itemNav: 'centered',
    //            smart: 1,
    //            activateOn: 'click',
    //            mouseDragging: 1,
    //            touchDragging: 1,
    //            releaseSwing: 1,
    //            startAt: 4,
    //            scrollBar: $wrap.find('.scrollbar'),
    //            scrollBy: 1,
    //            speed: 300,
    //            elasticBounds: 1,
    //            easing: 'easeOutExpo',
    //            dragHandle: 1,
    //            dynamicHandle: 1,
    //            clickBar: 1
    //        });
    //
    //    });
