extends ../template/_main

block title
    | Clients

block content
    section.section
        .container.is-size-narrow
            .hero.has-text-centered
                +hero('icon-clients.svg', 'Клиенты')
    section.section
        .intro
            .container.is-size-narrow
                p Нами реализовано более 60 проектов стратегического и операционного консалтинга, включая опыт форензик и Due Diligence

    section.section
        .container
            h3.is-size-3.has-text-grey.has-text-centered Крупнейшие операторы связи
            .columns.is-multiline.is-centered
                .column.is-4
                    figure.image
                        img(src="img/svg/clients-logo/logo-rostelecom.svg" width="309px" height="140px")
                .column.is-4
                    figure.image
                        img(src="img/svg/clients-logo/logo-veon.svg" width="309px" height="140px")
                .column.is-4
                    figure.image
                        img(src="img/svg/clients-logo/logo-megafon.svg" width="309px" height="140px")
                .column.is-4
                    figure.image
                        img(src="img/svg/clients-logo/logo-mts.svg" width="309px" height="140px")
                .column.is-4
                    figure.image
                        img(src="img/svg/clients-logo/logo-kazah.svg" width="309px" height="140px")
                .column.is-4
                    figure.image
                        img(src="img/svg/clients-logo/logo-nar.svg" width="309px" height="140px")
                .column.is-4
                    figure.image
                        img(src="img/svg/clients-logo/logo-orange.svg" width="309px" height="140px")
    section.section
        .container
            h3.is-size-3.has-text-grey.has-text-centered Промышленные и финансовые группы
            .columns.is-multiline.is-centered
                .column.is-4
                    figure.image
                        img(src="img/svg/clients-logo/logo-norilsk.svg" width="309px" height="140px")
                .column.is-4
                    figure.image
                        img(src="img/svg/clients-logo/logo-rosneft.svg" width="309px" height="140px")
                .column.is-4
                    figure.image
                        img(src="img/svg/clients-logo/logo-alfabank.svg" width="309px" height="140px")
                .column.is-4
                    figure.image
                        img(src="img/svg/clients-logo/logo-o1.svg" width="309px" height="140px")
                .column.is-4
                    figure.image
                        img(src="img/svg/clients-logo/logo-arhbum.svg" width="309px" height="140px")
                .column.is-4
                    figure.image
                        img(src="img/svg/clients-logo/logo-usm.svg" width="309px" height="140px")

    section.section
        .container
            h3.is-size-3.has-text-grey.has-text-centered Медиа, ритейл, технологии
            .columns.is-multiline.is-centered
                .column.is-4
                    figure.image
                        img(src="img/svg/clients-logo/logo-vgtrk-tvradio.svg" width="309px" height="140px")
                .column.is-4
                    figure.image
                        img(src="img/svg/clients-logo/logo-gett.svg" width="309px" height="140px")
                .column.is-4
                    figure.image
                        img(src="img/svg/clients-logo/logo-rosnano.svg" width="309px" height="140px")
                .column.is-4
                    figure.image
                        img(src="img/svg/clients-logo/logo-euroset.svg" width="309px" height="140px")
                .column.is-4
                    figure.image
                        img(src="img/svg/clients-logo/logo-nvision.svg" width="309px" height="140px")
                .column.is-4
                    figure.image
                        img(src="img/svg/clients-logo/logo-navigator.svg" width="309px" height="140px")

    section.section
        .container
            h3.is-size-3.has-text-grey.has-text-centered Инвестиционные фонды
            .columns.is-multiline.is-centered
                .column.is-4
                    figure.image
                        img(src="img/svg/clients-logo/logo-waarde.svg" width="309px" height="140px")
                .column.is-4
                    figure.image
                        img(src="img/svg/clients-logo/logo-capman.svg" width="309px" height="140px")
                .column.is-4
                    figure.image
                        img(src="img/svg/clients-logo/logo-vtb-capital.svg" width="309px" height="140px")
                .column.is-4
                    figure.image
                        img(src="img/svg/clients-logo/logo-sber.svg" width="309px" height="140px")
                .column.is-4
                    figure.image
                        img(src="img/svg/clients-logo/logo-buran.svg" width="309px" height="140px")
                .column.is-4
                    figure.image
                        img(src="img/svg/clients-logo/logo-blago.svg" width="309px" height="140px")
                .column.is-4
                    figure.image
                        img(src="img/svg/clients-logo/logo-l2bf.svg" width="309px" height="140px")

block footer
    footer.footer
        .container
            .columns.is-centered.is-gapless
                .column.is-6
                    .contacts.has-text-centered
                        //.contacts__title
                            //h2.is-size-2.has-text-white Контакты
                        ul.contacts__list
                            li
                                | 127006, Россия, Москва,
                                br
                                |  Долгоруковская ул., д. 40, стр. 5
                            li
                                a(href="tel:+79451234567") +7 945 123-45-67
                            li
                                a(href="mailto:info@cpartners.ru") info@cpartners.ru
                        p.has-text-centered
                            span.is-size-7.has-text-grey-dark © Constanta, 2009–2018


