extends ../template/_main

mixin tile(img, subtile, text)
  li.nav__item
    a(href=url).nav__link= text

block title
  | Services

block content
  section.section
    .container.is-size-narrow
      .hero.has-text-centered
        +hero('icon-services.svg', 'Услуги и направления работы')
  section.section
    .container.is-size-narrow
      .columns.is-centered
        .column.is-10
          p Наш опыт объединяет компетенции консультанта, менеджера, инвестора и предпринимателя. В современном мире только комбинация этих навыков позволяет стартапам выводить на рынок успешные продукты, корпорациям достигать оптимальных операционных показателей, а инвесторам находить лучшие объекты для инвестиций.

  section.section
    .container
      h3.is-size-3.has-text-centered.has-text-grey Мы помогаем нашим клиентам в решении самых сложных задач, предоставляя лучшую в секторе экспертизу
      .cards.is-border-top
        .columns.is-multiline.is-gapless
          .column.is-6
            .cards__item.is-paddingless
              a(href="service-consulting.html").box
                .box__img
                  img(src='img/svg/logo-consulting.svg').image
                .box__text
                  p Операционный и стратегический консалтинг
          .column.is-6
            .cards__item.is-paddingless
              a(href="service-investments.html").box
                .box__img
                  img(src='img/svg/logo-investments.svg').image
                .box__text
                  p Привлечение инвестиций, продажа бизнеса, транзакционная поддержка
          .column.is-6
            .cards__item.is-paddingless
              a(href="service-forensic.html").box
                .box__img
                  img(src='img/svg/logo-forensic.svg').image
                .box__text
                  p Предотвращение корпоративного мошенничества
          .column.is-6
            .cards__item.is-paddingless
              a(href="service-predtech.html").box
                .box__img
                  img(src='img/svg/logo-predtech.svg').image
                .box__text
                  p Big data, предиктивная аналитика и моделирование

block footer
  footer.footer
    .container
      .columns.is-centered.is-gapless
        .column.is-6
          .contacts.has-text-centered
            //.contacts__title
                //h2.is-size-2.has-text-white Контакты
            ul.contacts__list
              li
                | 127006, Россия, Москва,
                br
                |  Долгоруковская ул., д. 40, стр. 5
              li
                a(href="tel:+79451234567") +7 945 123-45-67
              li
                a(href="mailto:info@cpartners.ru") info@cpartners.ru
            p.has-text-centered
              span.is-size-7.has-text-grey-dark © Constanta, 2009–2018