extends ../template/_main

block title
    | Predtech

block content
    section.section
        .container.is-size-narrow
            .hero.has-text-centered
                +hero('icon-predtech.svg', '', 'logo-center-predtech.svg')
    section.section
        .container.is-size-narrow
            .intro
                h2.is-size-2.has-text-grey.has-text-centered Предсказываем будущее, превращая данные в денежные потоки
                ul.is-marker-orange
                    li Фокусируемся на ключевых бизнес-задачах клиента, требующих высококачественного предиктивного анализа
                    li Полное погружение в специфику индустрии и конкретных особенностей клиента
                    li Создание интерфейсов, визуализация и настройка BIli Интеграция решений в существующие ИТ-системы заказчика, либо разработка и внедрение новых систем

    section.section
        .container
            h2.is-size-2.has-text-centered Примеры кейсов
            .cards.is-border-top
                .cards__item
                    .columns
                        .column.is-4
                            h3.is-size-3 Ритейл
                        .column.is-8
                            p
                                b Прогнозирования месячного РТО, фронтальной маржи по всей сети
                            ul.is-marker-gray
                                li стабильная точность выше 99%
                                li горизонт прогнозирования – 1 месяц

                            p
                                b Прогнозирование месячной выручки и количества чеков с детализацией по магазинам и категориям товаров
                            ul.is-marker-gray
                                li Более 1000 магазинов с ассортиментом около 3000 SKU
                                li Точность модели ± 3% для 45% магазинов розничной сети
                .cards__item
                    .columns
                        .column.is-4
                            h3.is-size-3 FMCG
                        .column.is-8
                            p
                                b Прогнозирование продаж в рамках S&OP
                            ul.is-marker-gray
                                li Проработано более 100 SKU, глубина анализа 3 года, точность прогноза — 87%
                                li Прогнозы продаж для всех каналов дистрибуции и АКБ, всего > 90 000 точек
                                li Рост выручки по нескольким категориям до 7%, сокращение издержек на 2%
                                li Расчета влияния различных промо-акций на дополнительные объемы продаж :
                                li Рассчитаны объемы продукции для каждого из более 600 магазинов сети
                                li Прогноз продаж на 3-8 неделю от текущей даты
                                li Проработано > 500 SKU, глубина анализа данных 3 года, точность прогноза > 85%
                .cards__item
                    .columns
                        .column.is-4
                            h3.is-size-3 Телеком
                        .column.is-8
                            p
                                b Определение склонных к оттоку абонентов
                            ul.is-marker-gray
                                li Размер ААБ более 1 млн абонентов
                                li Средняя точность модели > 50%
                                li Уровень удержания > 65% от склонных
                                li Определение наиболее вероятной причины склонности к оттоку

                            p
                                b Система оценки удовлетворенности техническим качеством услуг
                            ul.is-marker-gray
                                li Размер ААБ более 400 тыс. абонентов
                                li Средняя точность модели > 65%
                                li Снижение входящих сервисных заявок до 7%

                            p
                                b Определение склонных абонентов к покупке дополнительных услуг
                            ul.is-marker-gray
                                li Размер ААБ более 1.5 млн. абонентов
                                li Средний показатель Cumulative Lift на 10 перцентилей ААБ — 4.5
                                li Концентрация склонных до 65% в зависимости от дополнительной услуг

block footer
    footer.footer
        .container
            .columns.is-centered.is-gapless
                .column.is-6
                    .contacts.has-text-centered
                        //.contacts__title
                            //h2.is-size-2.has-text-white Контакты
                        ul.contacts__list
                            li
                                | 127006, Россия, Москва,
                                br
                                |  Долгоруковская ул., д. 40, стр. 5
                            li
                                a(href="tel:+79451234567") +7 945 123-45-67
                            li
                                a(href="mailto:info@cpartners.ru") info@cpartners.ru
                        p.has-text-centered
                            span.is-size-7.has-text-grey-dark © Constanta, 2009–2018