include ../components/hero/_hero

doctype html
html(lang="ru-RU")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    title
      block title

    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&amp;subset=cyrillic")
    link(rel="stylesheet" href="css/libs.css")
    link(rel="stylesheet" href="css/template.css")

    block css

  body

    include ../components/nav/_nav

    main.content
      block content


    block footer
      //include ../components/footer/_footer

    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    script.
        var $menu = $(".nav"),
            $links = $menu.find("nav__burger"); // кэшируем в переменную ссылки

        $links.on("click", function () {
            $menu.children().children().removeClass("is-active"); // убираем класс у всех пунктов
            $(this).parent().parent().addClass("is-active"); // добавляем к пункту, содержащему нажатую ссылку
        });