include ../components/hero/_hero

doctype html
html(lang="ru-RU")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    title
      block title

    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&amp;subset=cyrillic")
    link(rel="stylesheet" href="css/libs.css")
    link(rel="stylesheet" href="css/template.css")

    block css

  body

    include ../components/nav/_nav

    main.content
      block content


    block footer
      //include ../components/footer/_footer

    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    script.
        $(document).ready(function () {
            console.log('ready');
            var $nav = $(".nav"),
                $burger = $nav.find(".nav__burger");

            $burger.on("click", function () {
                $nav.toggleClass("is-show-mobile");
                $burger.toggleClass("is-active");
            });
        });
