$dimensions: 16 24 32 48 64 96 128 !default;

.image {
  display: block;
  position: relative;
  img {
    display: block;
    height: auto;
    //width: 100%;
    &.is-rounded {
      border-radius: $radius-rounded;
    }
  }
  //// Ratio
  //&.is-square,
  //&.is-1by1,
  //&.is-5by4,
  //&.is-4by3,
  //&.is-3by2,
  //&.is-5by3,
  //&.is-16by9,
  //&.is-2by1,
  //&.is-3by1,
  //&.is-4by5,
  //&.is-3by4,
  //&.is-2by3,
  //&.is-3by5,
  //&.is-9by16,
  //&.is-1by2,
  //&.is-1by3 {
  //  img {
  //    @include overlay;
  //    height: 100%;
  //    width: 100%;
  //  }
  //}
  //&.is-square,
  //&.is-1by1 {
  //  padding-top: 100%;
  //}
  //&.is-5by4 {
  //  padding-top: 80%;
  //}
  //&.is-4by3 {
  //  padding-top: 75%;
  //}
  //&.is-3by2 {
  //  padding-top: 66.6666%;
  //}
  //&.is-5by3 {
  //  padding-top: 60%;
  //}
  //&.is-16by9 {
  //  padding-top: 56.25%;
  //}
  //&.is-2by1 {
  //  padding-top: 50%;
  //}
  //&.is-3by1 {
  //  padding-top: 33.3333%;
  //}
  //&.is-4by5 {
  //  padding-top: 125%;
  //}
  //&.is-3by4 {
  //  padding-top: 133.3333%;
  //}
  //&.is-2by3 {
  //  padding-top: 150%;
  //}
  //&.is-3by5 {
  //  padding-top: 166.6666%;
  //}
  //&.is-9by16 {
  //  padding-top: 177.7777%;
  //}
  //&.is-1by2 {
  //  padding-top: 200%;
  //}
  //&.is-1by3 {
  //  padding-top: 300%;
  //}


  // Sizes
  //@each $dimension in $dimensions {
  //  &.is-#{$dimension}x#{$dimension} {
  //    height: $dimension * 1px;
  //    width: $dimension * 1px;
  //  }
  //}
}
.bwWrapper {
  position:relative;
  display:block;
}
.is-grayscale {
  //filter: grayscale(1);
  //opacity: 0.5;
  //transition: all 0.2s;
  //
  //&:hover {
  //  filter: grayscale(0);
  //  opacity: 1;
  //}
}

/*! Gray v1.6.0 (https://github.com/karlhorky/gray) | MIT */
.is-grayscale {
  /* Firefox 10-34 */
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='0'/></filter></svg>#grayscale");

  /*
    Chrome 19+,
    Safari 6+,
    Safari 6+ iOS,
    Opera 15+
  */
  -webkit-filter: grayscale(1);

  /* Firefox 35+ */
  filter: grayscale(1);

  /* IE 6-9 */
  filter: gray;


  &.grayscale-fade {
    transition: filter .5s;
  }

  /* Webkit hack until filter is unprefixed */
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    &.grayscale-fade {
      -webkit-transition: -webkit-filter .5s;
      transition:         -webkit-filter .5s;
    }
  }

  &.grayscale-off,
  &.grayscale-fade:hover {
    -webkit-filter: grayscale(0);
    filter:         grayscale(0);
  }

  /* Background element */
  &.grayscale-replaced {
    -webkit-filter: none;
    filter:         none;
  }

  &.grayscale-replaced > svg {
    -webkit-transition: opacity .5s ease;
    transition:         opacity .5s ease;
    opacity: 1;
  }

  &.grayscale-replaced.grayscale-off > svg,
  &.grayscale-replaced.grayscale-fade:hover > svg {
    opacity: 0;
  }
}